@import "tailwindcss";

/* Base styles */
* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-snap-type: both mandatory;
}

body {
    font-family: 'Alatsi', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.2;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-y: scroll;
}