@import "tailwindcss";

/* Font Face */
@font-face {
    font-family: 'Alatsi';
    src: url('/fonts/Alatsi-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Base styles */
* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Alatsi', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.2;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
}

main {
    position: relative;
    height: 100dvh;
    overflow-y: scroll;
    scroll-snap-type: both mandatory;
}