/* Component-specific styles for reuse */

.rnd-container {
    padding: 15dvh 15%;
    scroll-snap-align: center;
    position: relative;
    height: 100dvh;
}

.rnd-button {
    transition: var(--transition-short);
    background-color: var(--color-red-dark);
    color: var(--color-white);
    padding: 8px 12px;
    width: 100%;
    cursor: pointer;
    border: 3px solid var(--color-red-dark);

    &:hover {
        background-color: var(--color-white);
        color: var(--color-red-dark);
    }
}