apiVersion: v1
kind: Service
metadata:
  name: personal-app
  labels:
    app: personal-app
spec:
  type: NodePort
  ports:
  - port: 8080
    targetPort: 8080
    nodePort: 30080
    protocol: TCP
    name: http
  selector:
    app: personal-app
